// Styling for the publications section
.publications {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: $gray-200;
  }
  > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
    display: flex;
    //&:after,
    //&:before {
    //  display: table;
    //  content: " ";
    //}
    &:after {
      clear: both;
    }
    .publications-panel {
      position: relative;
      float: right;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .publications-image {
      position: absolute;
      z-index: 100;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      text-align: center;
      color: $white;
      border: 3px solid $gray-200;
      border-radius: 100%;
      background-color: $primary;
      h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
      }
    }
    &.publications-inverted > .publications-panel {
      float: right;
      padding: 0 20px 0 100px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .publications-heading {
    h4 {
      margin-top: 0;
      color: black;
      &.subheading {
        text-transform: none;
      }
    }
  }
  .publications-body {
    > ul,
    > p {
      margin-bottom: 0;
    }

    // First p inside .text-muted
    .text-muted p:first-of-type {
      margin-bottom: 10px;
    }

    .jornal{
      font-style: italic;
    }

  }
}

.publications a:hover{
  text-shadow: 2px 2px 5px rgba(0,0,0,0.2);

  h4{
    color: $primary;
  }

  .publications-image{
    border-color: #8db04f !important;
  }

}

@media (min-width: 768px) {
  .publications {

    .publications-image {
      left: 0% !important;
    }

    li{
      left: 40px
    }

    /*&:before {
        left: 0;
      }*/
  }
}



@media (min-width: 768px) {
  .publications {
    &:before {
    //  left: 50%;
    }
    > li {
      min-height: 100px;
      margin-bottom: 100px;
      .publications-panel {
        float: left;
        //width: 41%;
        padding: 0 20px 20px 70px;
        text-align: left;
      }
      .publications-image {
        left: 50%;
        width: 100px;
        height: 100px;
        border-width: 7px;
        margin-left: -50px;
        h4 {
          font-size: 13px;
          line-height: 18px;
          margin-top: 16px;
        }
      }
      &.publications-inverted > .publications-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
      }
    }
  }
}
@media (min-width: 992px) {
  #publications > .container {
    width: 80%;
  }

  .publications {
    > li {
      min-height: 150px;
      .publications-panel {
        padding: 20px 20px 20px 90px;
      }
      .publications-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
        h4 {
          font-size: 18px;
          line-height: 26px;
          margin-top: 30px;
        }
      }
      &.publications-inverted > .publications-panel {
        padding: 20px 20px 20px 90px;
      }
    }
  }
}
@media (min-width: 1200px) {
  .publications {
    > li {
      min-height: 170px;
      .publications-panel {
        padding: 20px 20px 20px 100px;
      }
      .publications-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
        h4 {
          margin-top: 40px;
        }
      }
      &.publications-inverted > .publications-panel {
        padding: 0 100px 20px 20px;
      }
    }
  }
}
